<br></br>
<img src="/images/myfarm.png" class="img-responsive main-image">
<h1>Hi, <%= current_user.username %></h1>
<br></br>
<h2><%=@user.time%> </h2>

<br></br>
<h3><%=@user.today%> </h3>

<h3> <%=@user.get_temp%>°F / <%=@user.weather_text%> for Islandton, SC </h3>
<br></br>
<h3> CME Live Cattle Price <font color="red">$<%=@user.get_market_prices%></font> for <%=@user.date%></font> </h3>
<br></br>

<img src="/images/myline.png" class="img-responsive main-image">
<br></br>
 <a href="/users/<%= current_user.id %>"> profile </a>  &nbsp; <a href="/cows/all"> cows </a> &nbsp; <a href="/fields/all"> fields </a> &nbsp; <a href="/expenses/all"> expenses </a>&nbsp;  <a href="/logout"> logout </a>
 <br></br>
   