<br></br>


<img src="/images/myexpenses.png" class="img-responsive main-image">

<h3>Expense date: <%= @expense.notes %></h3>
<li>Chemicals: $ <%= @expense.chemicals %></li>
<li>Conservation: $ <%= @expense.conservation %></li>
<li>Chemicals: $ <%= @expense.chemicals %></li>
<li>Depreciation: $ <%= @expense.depreciation %></li>
<li>Employees: $ <%= @expense.employees %></li>
<li>Feed: $ <%= @expense.feed %></li>
<li>Freight and Trucking: $ <%= @expense.freight_trucking %></li>
<li>Gas: $ <%= @expense.gas %></li>
<li>Insurance: $ <%= @expense.insurance %></li>
<li>Interest: $ <%= @expense.interest %></li>
<li>Repairs: $ <%= @expense.repairs %></li>
<li>Seeds and Fertilizer: $ <%= @expense.seeds_plants %></li>
<li>Storage: $ <%= @expense.storage %></li>
<li>Supplies: $ <%= @expense.supplies %></li>
<li>Vet or Medicine: $ <%= @expense.vet %></li>
<li>Tools: $ <%= @expense.tools %></li>
<li>Fencing and Land: $ <%= @expense.fencing_land %></li>
<li>New calf: $ <%= @expense.calf %></li>
<li>Dues: $ <%= @expense.dues %></li>
<li>Misc Labor: $ <%= @expense.misc_labor %></li>
<li>Professional: $ <%= @expense.professional %></li>
<br></br>
<form method="patch" action="/expenses/<%=@expense.id%>/edit">
  <input type="submit" value="Edit Expense">
</form>
<form method="post" action="/expenses/<%=@expense.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Expense">
</form>
<br></br>
<img src="/images/myline.png" class="img-responsive main-image">
<br></br>
 <a href="/users/<%= current_user.id %>"> profile </a>  &nbsp; <a href="/cows/all"> cows </a> &nbsp; <a href="/fields/all"> fields </a> &nbsp; <a href="/expenses/all"> expenses </a>&nbsp;  <a href="/logout"> logout </a>
 <br></br>
   