<br></br>
<a href="/users/<%= current_user.id %>">My Profile</a>  <img src="/images/circle.png" class="img-responsive main-image"> <a href="/cows/all">My Cows</a> <img src="/images/circle.png" class="img-responsive main-image"> <a href="/fields/all">My Fields</a> <img src="/images/circle.png" class="img-responsive main-image"> <a href="/expenses/all">My Expenses</a> <img src="/images/circle.png" class="img-responsive main-image"> <a href="/logout">Log Out</a>
<br></br>

<img src="/images/fields.png" class="img-responsive main-image">

<% @fields.each do |field| %>
    <ul>Field Name: <%= field.field_name %> </ul>
    <ul>Acreage: <%= field.acreage %> </ul>
    <ul>Coordinates: <%= field.coordinates%> </ul>
    <ul><%= Field %> <a href="/fields/<%=field.id%>"> Specifics </a></ul><br></br>
 <% end %>
 <br></br>
 <a href="/fields/add_new">Add New Field</a>