<img src="/images/fields.png" class="img-responsive main-image">

<% @fields.each do |field| %>
    <ul>Field Name: <%= field.field_name %> </ul>
    <ul>Acreage: <%= field.acreage %> </ul>
    <ul>Coordinates: <%= field.coordinates%> </ul>
    <ul><%= Field %> <a href="/fields/<%=field.id%>"> Specifics </a></ul><br></br>
 <% end %>

