<br></br>


<img src="/images/myfields.png" class="img-responsive main-image">

<h2> Edit Field </h2>

<form method="post" action="/fields/<%=@field.id%>/edit">

<label>Field Name:</label>
<input type="text" name="field[field_name]" id="field_name" value="<%= @field.field_name %>"> <br></br>

<label>Acreage:</label>
<input type="text" name="field[acreage]" id="acreage" value="<%= @field.acreage %>"><br></br>

<label>Coordinate:</label>
<input type="text" name="field[coordinates]" id="coordinates"> value="<%= @field.coordinates %>"<br></br>

<input type="submit" value="Save Field">
</form>
<br></br>
<img src="/images/myline.png" class="img-responsive main-image">
<br></br>
 <a href="/users/<%= current_user.id %>"> profile </a>  &nbsp; <a href="/cows/all"> cows </a> &nbsp; <a href="/fields/all"> fields </a> &nbsp; <a href="/expenses/all"> expenses </a>&nbsp;  <a href="/logout"> logout </a>
 <br></br>
   