<br></br>
<a href="/users/<%= current_user.id %>">My Profile</a>  <img src="/images/circle.png" class="img-responsive main-image"> <a href="/cows/all">My Cows</a> <img src="/images/circle.png" class="img-responsive main-image"> <a href="/fields/all">My Fields</a> <img src="/images/circle.png" class="img-responsive main-image"> <a href="/expenses/all">My Expenses</a> <img src="/images/circle.png" class="img-responsive main-image"> <a href="/logout">Log Out</a>
<br></br>


<img src="/images/fields.png" class="img-responsive main-image">

<h2> Edit Field </h2>

<form method="post" action="/fields/<%=@field.id%>/edit">

<label>Field Name:</label>
<input type="text" name="field[field_name]" id="field_name" value="<%= @field.field_name %>"> <br></br>

<label>Acreage:</label>
<input type="text" name="field[acreage]" id="acreage" value="<%= @field.acreage %>"><br></br>

<label>Coordinate:</label>
<input type="text" name="field[coordinates]" id="coordinates"> value="<%= @field.coordinates %>"<br></br>

<input type="submit" value="Save Field">
</form>