<br></br>

<img src="/images/mycows.png" class="img-responsive main-image">

<% @cows.each do |cow| %>
    <li><strong>Tag No. <%= cow.tag_number %> </strong></li>
    <li> <%= cow.name %> </li>
    <li> Located in: <%= cow.field_name %> 
    <li><a href="/cows/<%=cow.id%>">Cow Specs</a></li><br></br>
<% end %>
<br></br>
<a href="/cows/add_new">Add New Cow</a><br></br>


<img src="/images/myline.png" class="img-responsive main-image">
<br></br>
 <a href="/users/<%= current_user.id %>"> profile </a>  &nbsp; <a href="/cows/all"> cows </a> &nbsp; <a href="/fields/all"> fields </a> &nbsp; <a href="/expenses/all"> expenses </a>&nbsp;  <a href="/logout"> logout </a>
 <br></br>