<br></br>
<a href="/users/<%= current_user.id %>">My Profile</a>  <img src="/images/circle.png" class="img-responsive main-image"> <a href="/cows/all">My Cows</a> <img src="/images/circle.png" class="img-responsive main-image"> <a href="/fields/all">My Fields</a> <img src="/images/circle.png" class="img-responsive main-image"> <a href="/expenses/all">My Expenses</a> <img src="/images/circle.png" class="img-responsive main-image"> <a href="/logout">Log Out</a>
<br></br>

<img src="/images/mycowsbest.png" class="img-responsive main-image">

<h2> Edit <%= @cow.name %> </h2>

<form method="post" action="/cows/<%=@cow.id%>/edit">

<input id="hidden" type="hidden" name="_method" value="PATCH">

<label>Cow Name:</label> <input type="text" name="cow[name]" id="name" value="<%= @cow.name %>"><br></br>

<label>Tag Number:</label> <input type="text" name="cow[tag_number]" id="tag_number" value="<%= @cow.tag_number %>"> <br></br>

<label>Field Name:</label> <input type="text" name="cow[field_name]" id="field_name" value="<%= @cow.field_name %>"> <br></br>

<label>Year Born:</label> <input type="text" name="cow[birthdate]" id="birthdate" value="<%= @cow.birthdate %>"><br></br>

<label>Type:</label> <input type="text" name="cow[cow_status]" id="cow_status" value="<%= @cow.cow_status%>"><br></br>

<label>Color:</label> <input type="text" name="cow[color]" id="color" value="<%= @cow.color%>"><br></br>

<label>Age:</label> <input type="text" name="cow[age]" id="age" value="<%= @cow.age%>"><br></br>

<label>Weight:</label> <input type="text" name="cow[weight]" id="weight" value="<%= @cow.weight%>"><br></br>

<label>Health:</label> <input type="text" name="cow[health]" id="health" value="<%= @cow.health%>"><br></br>

<label>Notes:</label> <input type="text" name="cow[notes]" id="notes" value="<%= @cow.notes%>"><br></br>

<input type="submit" value="Save">
</form>