<h1><%= @cows.name %> Profile Page </h1>

<h2><%= @cow.name %> was born on <%= cow.birthdate %> and is in <%= @cow.health %> health. </h2>

<h2> Type: <%= @cow.type %> </h2>
<h2> Color: <%= @cow.color %> </h2>
<h2> Age: <%= @cow.age %> </h2>
<h2> Weight: <%= @cow.weight %> </h2>

<input type="text" name="content" value="<%= @cow.name %>">

<form method="post" action="/cows/all/<%=@cow.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Cow">
</form>

<a href="/cows/all/<%=@cow.id%>/edit"> Edit Cow</a>