<br></br>
<a href="/users/<%= current_user.id %>">My Profile</a>  <img src="/images/circle.png" class="img-responsive main-image"> <a href="/cows/all">My Cows</a> <img src="/images/circle.png" class="img-responsive main-image"> <a href="/fields/all">My Fields</a> <img src="/images/circle.png" class="img-responsive main-image"> <a href="/expenses/all">My Expenses</a> <img src="/images/circle.png" class="img-responsive main-image"> <a href="/logout">Log Out</a>
<br></br>

<img src="/images/mycowsbest.png" class="img-responsive main-image">

<h1><%= @cow.name %> </h1><br></br>
<h2> Current details as of <%= Time.now %> </h2>
<p> Tag ID No. <%= @cow.tag_number %></p>
<p>Field Name: <%= @cow.field_name %></p>
<p>Year Born: <%= @cow.birthdate %></p>
<p>Health: <%= @cow.health %> </p>
<p>Status: <%= @cow.cow_status %> </p>
<p>Color: <%= @cow.color %> </p>
<p>Age: <%= @cow.age %> </p>
<p>Weight: <%= @cow.weight %></p>
<p>Notes: <%= @cow.notes %> </p>

<form method="post" action="/cows/<%=@cow.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Cow">
</form>
<form method="patch" action="/cows/<%=@cow.id%>/edit">
  <input type="submit" value="Edit Cow">
</form>

<br></br>
<img src="/images/myline.png" class="img-responsive main-image">
<br></br>
 <a href="/users/<%= current_user.id %>"> profile </a>  &nbsp; <a href="/cows/all"> cows </a> &nbsp; <a href="/fields/all"> fields </a> &nbsp; <a href="/expenses/all"> expenses </a>&nbsp;  <a href="/logout"> logout </a>
 <br></br>