<img src="/images/mycows.png" class="img-responsive main-image">

<h1><%= @cow.name %> </h1><br></br>
<h2> Current details as of @date.saved </h2>
<p> Tag ID # <%= @cow.tag_number %></p>
<p>Field Name: <%= @cow.field_name %></p>
<p>Year Born: <%= @cow.birthdate %></p>
<p>Health: <%= @cow.health %> </p>
<p>Status: <%= @cow.cow_status %> </p>
<p>Color: <%= @cow.color %> </p>
<p>Age: <%= @cow.age %> </p>
<p>Weight: <%= @cow.weight %></p>
<p>Notes: <%= @cow.notes %> </p>
<br></br>
<form method="post" action="/cows/<%=@cow.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Cow">
</form><br></br>
<form method="patch" action="/cows/<%=@cow.id%>/edit">
  <input type="submit" value="Edit Cow">
</form>

